<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="banner__container">
      <img
        src="/assets/images/banner_bg.jpg"
        alt="UpPromote"
        class="banner__bg"
      />
      <div class="banner__left">
        <div>
          <img src="/assets/icons/diamonds.svg" alt="upPromote" />
          <span>Built for Shopify</span>
        </div>

        <h1>
          <p>Top Recommended <strong>Affiliate Marketing Software</strong></p>
        </h1>

        <div>
          Affiliate tracking software for businesses of all sizes to create
          loops within your sales funnel centered around influencers, brand
          ambassadors, and existing customers.
        </div>

        <div>
          <div class="btn-primary btn-lg">
            <span>Start for FREE on Shopify</span>
            <img src="/assets/icons/arrowRight.svg" alt="upPromote" />
          </div>

          <div class=""></div>
        </div>
      </div>
      <div class="banner__right"></div>
    </div>
  </body>
</html>
